<!DOCTYPE html>
<html  lang="en" ng-app="my">
<head>
	<title>Trying AngularJS!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<a href="#/">Hello</a>
<a href="#/second">Page 1.</a>
<a href="#/third">Thir Page</a>
<div class="container">

	testing
	<div ng-view></div>

	<div ng-controller="myController">
	<div>
	<label>Enter Facebook Account</label>
	<input type="text" name="inp" ng-model="handle">
	</div>

	<div class="alert" ng-class="{'alert-warning' : handle.length<characters, 'alert-danger' : handle.length>characters, 'alert-success' : handle.length===characters}">

	<div ng-show="handle.length === characters">
	you are now in
	</div>

	<div ng-show="handle.length<characters">
	You have less than 5 characters
	</div>

	<div ng-show="handle.length>characters">
	You have more than 5 characters
	</div>

	</div>

	<hr>
	<h1>Facebook.com/{{ handle }}</h1>

	<h2>Rule are as follows : </h2>
	<ul>
	<li ng-repeat="rule in rulenames">
	{{ rule.rulename  }}
	</li>
	</ul>

	<input type="button" name="ab" value="Click me!" ng-click="alertFunction()">

	<div>
	<p>
	WWE also refers to the professional wrestling promotion itself, founded by Jess McMahon and Toots Mondt in 1952 as Capitol Wrestling Corporation Ltd. As of 2016, it is the largest wrestling promotion in the world, holding over 500 events a year (with the roster divided up into various globally traveling brands),[8] and broadcasting to about 36 million viewers in more than 150 countries. The company's global headquarters is located in Stamford, Connecticut, with offices in major cities across the world.[9][10]
	</p>

	<p>
	As in other professional wrestling promotions, WWE shows are not legitimate contests, but purely entertainment-based, featuring storyline-driven, scripted, and choreographed matches, though they often include moves that can put performers at risk of injury if not performed correctly. This was first publicly acknowledged by WWE's owner Vince McMahon in 1989 to avoid taxes from athletic commissions. Since the 1980s, WWE publicly has branded their product as sports entertainment, acknowledging the product's roots in competitive sport and dramatic theater.
	</p>

	<p>
	The company's majority owner is its chairman and CEO, Vince McMahon. Along with his wife Linda, children Shane and Stephanie, and son-in-law Paul "Triple H" Levesque, the McMahon family holds approximately 70% of WWE's equity and 96% of the voting power. As of August 2014, Eminence Capital, a New York-based hedge fund, acquired a 9.6% stake in WWE while the McMahon family retains 90.4% interest.[11]

	The current entity, incorporated on February 21, 1980, was previously known as Titan Sports, Inc., which was founded in 1979 in South Yarmouth, Massachusetts. It acquired Capitol Wrestling Corporation, the holding company for the World Wrestling Federation, in 1982. Titan was renamed World Wrestling Federation, Inc. in 1998, then World Wrestling Federation Entertainment, Inc. in 1999, and finally the current World Wrestling Entertainment, Inc. in 2002. Since 2011, the company has officially branded itself solely as WWE though the company's legal name was not changed
	</p>

	<p>
	Vincent J. McMahon's son, Vincent K. McMahon, and his wife Linda, established Titan Sports, Inc., in 1979 in South Yarmouth, Massachusetts.[19][20] The company was incorporated on February 21, 1980, in the Cape Cod Coliseum offices. The younger McMahon bought Capitol from his father in 1982, effectively seizing control of the company. Seeking to make the WWF the premier wrestling promotion in the country, and eventually, the world, he began an expansion process that fundamentally changed the wrestling business.[21]

	At the annual meeting of the NWA in 1983, the McMahons and former Capitol employee Jim Barnett all withdrew from the organization.[15] McMahon also worked to get WWF programming on syndicated television all across the United States. This angered other promoters and disrupted the well-established boundaries of the different wrestling promotions, eventually ending the territory system, which was in use since the founding of the NWA in the 1940s. In addition, the company used income generated by advertising, television deals, and tape sales to secure talent from rival promoters.
	</p>
	Shane McMahom gained significant traction when he hired AWA talent Hulk Hogan, who had achieved popularity outside of wrestling, notably for his appearance in the film Rocky III.[22] McMahon signed Roddy Piper as Hogan's rival, and then shortly afterward Jesse Ventura as an announcer. Other wrestlers joined the roster, such as Jimmy Snuka, Don Muraco, The Iron Sheik, Nikolai Volkoff, Junkyard Dog, Paul Orndorff, Greg Valentine, and Ricky Steamboat. Many of the wrestlers who would join later were former AWA or NWA talent.

	The WWF would tour nationally in a venture that would require a huge capital investment, one that placed the WWF on the verge of financial collapse. The future of McMahon's experiment came down to the success or failure of McMahon's groundbreaking concept, WrestleMania. WrestleMania was a major success, and was (and still is) marketed as the Super Bowl of professional wrestling. The concept of a wrestling supercard was nothing new in North America; the NWA had begun running Starrcade a few years prior. In McMahon's eyes, however, what separated WrestleMania from other supercards was that it was intended to be accessible to those who did not watch wrestling. He invited celebrities such as Mr. T, Muhammad Ali, and Cyndi Lauper to participate in the event, as well as securing a deal with MTV to provide coverage. The event and hype surrounding it led to the term Rock 'n' Wrestling Connection, due to the cross-promotion of pop-culture and professional wrestling.
	<p>

	</p>
	As the Monday Night Wars continued between Raw Is War and WCW's Nitro, the WWF would transform itself from a family-friendly product into a more adult oriented product, known as the Attitude Era. The era was spearheaded by WWF VP Shane McMahon (son of owner Vince McMahon) and head writer Vince Russo.

	1997 ended with McMahon facing real-life controversy following Bret Hart's controversial departure from the company, dubbed as the Montreal Screwjob.[29] This proved to be one of several founding factors in the launch of the Attitude Era as well as the creation of McMahon's on-screen character, "Mr. McMahon".

	Prior to the Montreal Screwjob, which took place at the 1997 Survivor Series, former WCW talent were being hired by the WWF, including Stone Cold Steve Austin, Mankind, and Vader. Austin was slowly brought in as the new face of the company despite being promoted as an antihero, starting with his "Austin 3:16" speech shortly after defeating Jake Roberts in the tournament finals at the King of the Ring pay-per-view in 1996.[
	<p>

	</p>
	</div>

	</div>
</div>
</body>
<script src="https://code.angularjs.org/1.3.0-rc.1/angular.min.js"></script>
<script src="https://code.angularjs.org/1.3.0-rc.1/angular-messages.min.js"></script>
<script src="https://code.angularjs.org/1.3.0-rc.1/angular-resource.min.js"></script>
<script src="https://code.angularjs.org/1.3.0-rc.1/angular-route.min.js"></script>
<script src="index_3.js"></script>
</html>